@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url("../../public/Burtons.otf");
}

html {
  scroll-behavior: smooth;
}

.themeicon:hover {
  transition-timing-function: ease-out;
  transition: 500ms;
}

.resume__button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to left, #06b6d4 , #14b8a6);
}

